.back-container{
	margin-top:20px;
	background-color:lightgray;
	height:100vh;
	
}
.main-container{
	
	width:90vw;
	background-color:white;
	display:flex;
	justify-content:space-between; 
	
}
.right{
	
}
.left-1{
		display:flex;
	   justify-content:space-between;
	flex-wrap:wrap;
}
img{
	width:100px;
}
.left-2{
	display:inline;
}
p{
	font-family:arial;
}
.right>h2{
	text-decoration:underline;
}